@import '/src/styles.scss';

.container {
	flex: 4;
	display: flex;
	flex-direction: column;
	background-color: $white;
}

.list {
	overflow-x: auto;
	scroll-behavior: smooth;
	cursor: s-resize;
	display: flex;
	flex: 1;
	flex-direction: column;
}

.header {
	padding: 0 20px;
	& span {
		margin-bottom: 16px;
		align-self: flex-end;
	}
	
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	& span:nth-child(1) {
		font-size: 24px;
		font-weight: 600;
		line-height: 1.33;
		color: $graphite;
	}
	
	& span:nth-child(2) {
		cursor: pointer;
		font-size: 15px;
		line-height: 1.33;
		color: #22a8d2;
	}
}
