@import '/src/styles.scss';

.container {
	height: 36px;
	margin-top: 76px;
	align-items: center;
	justify-content: center;
	display: flex;
	flex: 1;

	& .avatar {
		position: absolute;
    display: flex;
    height: inherit;
    align-items: center;
    margin-left: 270px;
	}
}

.label {
	font-size: 16px;
	font-weight: 600;
	color: $graphite;
}
