@import '/src/styles.scss';

.container {
	padding: 0 38px;
  display: flex;
  height: 812px;
  flex-direction: column;
  border: 1px #cdcdcd solid;
  background: linear-gradient(to top, $sky -115%, $transparency 90%);
}

.block {
	height: 150px;
}

.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.plazo {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 16px;
  font-size: 14px;
  font-weight: 600;
	line-height: 1.33;
	color: $graphite;
}

.pago {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header {
	margin-top: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
  margin-bottom: 16px;
	
	& span:nth-child(1) {
    align-self: flex-end;
		font-size: 24px;
		font-weight: 600;
		line-height: 1.33;
		color: $graphite;
	}
	
	& span:nth-child(2) {
		cursor: pointer;
		font-size: 15px;
		line-height: 1.33;
		color: #22a8d2;
	}
}