@import "/src/styles.scss";

.container {
	background-color: $primary-blue;
	height: 52px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $white;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.33;
	margin-bottom: 38px;
}
