@import '/src/styles.scss';

.container {
  background-color: $violet;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 36px;

}

.itemWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
}

.label {
  margin-top: 5px;
  height: 11px;
  font-size: 8px;
  font-weight: 600;
  text-align: center;
}